################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/venv
/src/__pycache__
/.vs
/.idea/vcs.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles
/.idea/Analogy-Python-Logging.iml
